.blue {
    background-color: rgb(161, 240, 213);
    width: 99.9%;
}

p {
    line-height: 1.5rem;
}

.center {
    margin-left: 400px;
    /* text-align: center; */
    /* background-color: blue; */
    width: 400px;
    height: 300px;
    line-height: 3rem;
}

#rad1, #rad2, #rad3{
    margin-left: 20px;
}

.down {
    text-align: center;
    align-content: last baseline;
    margin-top: 100px;
    font-size: small;
    /* background-color: aqua; */
}


hr {
    width: 100%;
    /* align-self: center; */
}

input[type=radio], input[type=checkbox] {
    transform: scale(1.5);
}

.bord {
    font-weight: bold;
    text-decoration: underline;
}
